<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="amsDataAdapterSettings" type="MCS.Library.Cloud.AMS.Data.Configuration.AMSDataAdapterSettings, MCS.Library.Cloud.AMS.Data" />
    <section name="mediaServiceAccountSettings" type="MCS.Library.Cloud.AMSHelper.Configuration.MediaServiceAccountSettings, MCS.Library.Cloud.AMSHelper" />
    <section name="liveChannelSettings" type="MCS.Library.Cloud.AMSHelper.Configuration.LiveChannelSettings, MCS.Library.Cloud.AMSHelper" />
    <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
    <section name="queueManagerSettings" type="MCS.Library.Configuration.QueueManagerSettings, MCS.Library" />
  </configSections>
  <queueManagerSettings>
    <typeFactories>
      <add name="amsQueue" type="MCS.Library.Cloud.AMS.Data.Adapters.AMSQueueSqlAdapter, MCS.Library.Cloud.AMS.Data.Impl" />
    </typeFactories>
  </queueManagerSettings>
  <connectionManager>
    <connectionStrings>
      <add name="AMSDB" connectionString="server=MCSFramework;database=AMSDB_Unit_Test;Integrated Security=True"  providerName="System.Data.SqlClient" />
      <!--<add name="AMSDB" connectionString="Server=tcp:d9pphp1cd1.database.windows.net,1433;Database=ZHSHEN-AMSDB-TEST;User ID=zhshen@d9pphp1cd1;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"  providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
    </dataProviders>
  </connectionManager>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0 .0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>