<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionManager>
    <connectionStrings>
      <!--<add name="AMSDB" connectionString="server=MCSFramework;database=AMSDB_Unit_Test;Integrated Security=True" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />-->
      <!--<add name="AMSDB" connectionString="Server=tcp:d9pphp1cd1.database.windows.net,1433;Database=ZHSHEN-AMSDB;User ID=zhshen@d9pphp1cd1;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />-->
      <add name="AMSDB" connectionString="Server=tcp:z1nszag55q.database.windows.net,1433;Database=AMSDB-TEST;User ID=zhshen@z1nszag55q;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
    </dataProviders>
  </connectionManager>
</configuration>