<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="amsDataAdapterSettings" type="MCS.Library.Cloud.AMS.Data.Configuration.AMSDataAdapterSettings, MCS.Library.Cloud.AMS.Data" />
    <section name="mediaServiceAccountSettings" type="MCS.Library.Cloud.AMSHelper.Configuration.MediaServiceAccountSettings, MCS.Library.Cloud.AMSHelper" />
    <section name="liveChannelSettings" type="MCS.Library.Cloud.AMSHelper.Configuration.LiveChannelSettings, MCS.Library.Cloud.AMSHelper" />
    <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data" />
    <section name="queueManagerSettings" type="MCS.Library.Configuration.QueueManagerSettings, MCS.Library" />
    <section name="amsLockSettings" type="MCS.Library.Cloud.AMS.Data.Configuration.AMSLockSettings, MCS.Library.Cloud.AMS.Data" />
    <section name="amsWorkerSettings" type="MCS.Library.Cloud.AMS.Worker.Configuration.AMSWorkerSettings, MCS.Library.Cloud.AMS.Worker" />
  </configSections>
  <amsLockSettings enabled="true" defaultEffectiveTime="00:05:00" />
  <amsWorkerSettings>
    <itemTypes>
      <add name="StartEvent" enabled="true" description="启动事件" />
      <add name="StopEvent" enabled="true" description="停止事件" />
      <add name="SyncChannelInfo" enabled="true" description="同步频道信息" />
      <add name="StopChannel" enabled="true" description="停止频道" />
      <add name="DeleteProgram" enabled="true" description="删除不用的节目" />
    </itemTypes>
    <durations>
      <add name="createChannelWarmup" duration="00:30:00" description="创建频道需要提前的时间" />
      <add name="createProgramWarmup" duration="00:10:00" description="创建节目需要提前的时间" />
      <add name="syncChannelInfoInterval" duration="00:01:00" description="同步频道信息的轮询时间" />
      <add name="stopChannelInterval" duration="00:05:00" description="检查需要停止的频道的轮询时间" />
      <add name="stopChannelLeadTime" duration="01:00:00" description="检查需要停止的频道的提前时间" />
      <add name="deleteProgamInterval" duration="00:10:00" description="检查需要删除的节目的轮询时间" />
      <add name="programExpireTime" duration="00:24:00" description="节目过期的时间，如果过期，则删除" />
    </durations>
  </amsWorkerSettings>
  <queueManagerSettings>
    <typeFactories>
      <add name="amsQueue" type="MCS.Library.Cloud.AMS.Data.Adapters.AMSQueueSqlAdapter, MCS.Library.Cloud.AMS.Data.Impl" />
    </typeFactories>
  </queueManagerSettings>
  <connectionManager>
    <connectionStrings>
      <!--<add name="AMSDB" connectionString="server=MCSFramework;database=AMSDB_Unit_Test;Integrated Security=True"  providerName="System.Data.SqlClient" />-->
      <!--<add name="AMSDB" connectionString="Server=tcp:d9pphp1cd1.database.windows.net,1433;Database=ZHSHEN-AMSDB;User ID=zhshen@d9pphp1cd1;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"  providerName="System.Data.SqlClient" />-->
      <add name="AMSDB" connectionString="Server=tcp:z1nszag55q.database.windows.net,1433;Database=AMSDB;User ID=zhshen@z1nszag55q;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP" />
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data" />
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data" />
    </dataProviders>
  </connectionManager>
  <mediaServiceAccountSettings>
    <accounts>
      <add name="zhshenstudy" accountKey="vTzrI0ly8UHor1atLf4dSfDu5liA9ZLN05yUjdquYnQ=" />
      <add name="amshuaweirel" accountKey="Tp48h0m0G7D5HRgfCjk93ImPvAgB6aDKu2bhMOb7kEo=" />
      <!--<add name="amshuaweichn" accountKey="mlQMzbY9y+MIrRyAnTIWBO/lGqSgu7L09IEpIfT2ENQ=" scope="urn:WindowsAzureMediaServices" acsBaseAddress="https://wamsprodglobal001acs.accesscontrol.chinacloudapi.cn" apiServerAddress="https://wamsshaclus001rest-hs.chinacloudapp.cn/API/" />-->
      <add name="huaweiamschn" accountKey="DHKV1d83SeO7tg8Qd7jKq4e4F9voQ576FPqYxgulEZo=" scope="urn:WindowsAzureMediaServices" acsBaseAddress="https://wamsprodglobal001acs.accesscontrol.chinacloudapi.cn" apiServerAddress="https://wamsshaclus001rest-hs.chinacloudapp.cn/API/" />
    </accounts>
  </mediaServiceAccountSettings>
  <amsDataAdapterSettings>
    <typeFactories>
      <add name="amsChannelAdapter" type="MCS.Library.Cloud.AMS.Data.Adapters.AMSChannelSqlAdapter, MCS.Library.Cloud.AMS.Data.Impl" />
    </typeFactories>
  </amsDataAdapterSettings>
  <liveChannelSettings>
    <channels>
      <add name="eastAsiaChannel1" channelName="TheFirst" accountName="zhshenstudy" />
      <add name="eastAsiaChannel2" channelName="TheSecondChannel" accountName="zhshenstudy" />
    </channels>
  </liveChannelSettings>
  <system.diagnostics>
    <sharedListeners>
      <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
        <filter type="" />
      </add>
    </sharedListeners>
    <sources>
      <source name="amsTaskTraceSource">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
      <source name="amsOpTraceSource">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="amsTaskTraceSource" value="Information" />
      <add name="amsOpTraceSource" value="Information" />
    </switches>
  </system.diagnostics>
  <!--<system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>