<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mediaServiceAccountSettings" type="MCS.Library.Cloud.AMSHelper.Configuration.MediaServiceAccountSettings, MCS.Library.Cloud.AMSHelper"/>
  </configSections>
  <mediaServiceAccountSettings>
    <accounts>
      <add name="eastAsia" accountName="zhshenstudy" accountKey="vTzrI0ly8UHor1atLf4dSfDu5liA9ZLN05yUjdquYnQ=" />
    </accounts>
  </mediaServiceAccountSettings>
</configuration>