<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionManager>
    <connectionStrings>
      <!--<add name="AMSDB" connectionString="server=MCSFramework;database=AMSDB_Unit_Test;Integrated Security=True" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />-->
      <add name="AMSDB" connectionString="Server=tcp:d9pphp1cd1.database.windows.net,1433;Database=ZHSHEN-AMSDB;User ID=zhshen@d9pphp1cd1;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
    </dataProviders>
  </connectionManager>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>