<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionManager>
    <connectionStrings>
      <!--<add name="AMSDB" connectionString="Server=tcp:d9pphp1cd1.database.windows.net,1433;Database=ZHSHEN-AMSDB-TEST;User ID=zhshen@d9pphp1cd1;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"  providerName="System.Data.SqlClient" />-->
      <add name="AMSDB" connectionString="Server=tcp:z1nszag55q.database.windows.net,1433;Database=AMSDB;User ID=zhshen@z1nszag55q;Password=Hb2008Hb2008;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
    </dataProviders>
  </connectionManager>
  <w3Settings selectedIssuer="test" signInUri="https://uniportal-beta.huawei.com/saaslogin/sp" xdt:Transform="SetAttributes(selectedIssuer,signInUri)">
    <issuers>
      <add name="test" issuerID="www.Kenexa.com" privateCA="TestHuaweiCA.p12" publicCA="TestHuaweiCA.cer" privateCAPassword="Pr0d1234" responseUri="http://localhost:6375/W3/LocalResponse.aspx?binding=urn%3aoasis%3anames%3atc%3aSAML%3a2.0%3abindings%3aHTTP-POST"/>
      <add name="production" issuerID="www.huaweiams.com" privateCA="huaweiams_client_pri.p12" publicCA="huawei_ams_server.cer" privateCAPassword="Ysyhlj#9t" responseUri="http://amshuawei-customer.azurewebsites.net/W3/SamlResponse.aspx?binding=urn%3aoasis%3anames%3atc%3aSAML%3a2.0%3abindings%3aHTTP-POST"/>
      <add name="staging" issuerID="www.huaweiams-staging.com" privateCA="huaweiams_client_pri.p12" publicCA="huawei_ams_server.cer" privateCAPassword="Ysyhlj#9t" responseUri="http://amshuawei-customer.azurewebsites.net/W3/LocalResponse.aspx?binding=urn%3aoasis%3anames%3atc%3aSAML%3a2.0%3abindings%3aHTTP-POST"/>
    </issuers>
  </w3Settings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>