<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="w3Settings" type="MCS.Library.Cloud.W3.Configuration.W3Settings, MCS.Library.Cloud.W3" />
  </configSections>
  <w3Settings selectedIssuer="test">
    <issuers>
      <add name="test" privateCA="TestHuaweiCA.p12" publicCA="TestHuaweiCA.cer" responseUri="http://localhost:6375/W3/LocalResponse.aspx?binding=urn%3aoasis%3anames%3atc%3aSAML%3a2.0%3abindings%3aHTTP-POST"/>
    </issuers>
  </w3Settings>
  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml"
              switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="logFile"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>